*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(/pics/Monachium2022_1.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width:10%;
    height:10%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* usuwanie podkreślenia pod elementami menu na początku strony - linia 16-20 html*/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
/* dodajemy podkreślenie  */
nav ul li a::after{
    content: '';
    width: 0;  /* jeśli ustawimy na zero element będzie niewidoczny*/
    height: 2px;
    background: gold;
    position:absolute;
    left:0;
    bottom: -6px;
    transition: 0.2s;
    
}
nav ul li a:hover::after{
    width: 100%;  /* jeśli ustawimy na zero element będzie niewidoczny*/
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 span{
    color: red;
}
/* -------------------------------- o Mnie ------------------------------------ */
#Omnie{
    padding:80px 0;
    color: #ababaa;
}
.wiersz{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Omnie-kol-1{
    flex-basis:  30%;
}
.Omnie-kol-1 img{
    width: 100%;
    border-radius: 15px;
}
.Omnie-kol-2{
    flex-basis: 60%;
}
.opis{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.Omnie-zakładki{
    display: flex;
    margin: 20px 0 40px;
}
.linki{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}