*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:#fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(/pics/Autobus.jpg);
    background-size:cover;
    background-position:center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width:10%;
    height:10%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* usuwanie podkreślenia pod elementami menu na początku strony - linia 16-20 html*/
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    position:relative;
}
/* dodajemy podkreślenie  */
nav ul li a::after{
    content: '';
    width: 0;  /* jeśli ustawimy na zero element będzie niewidoczny*/
    height: 3px;
    background: gold;
    position:absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
    
}
nav ul li a:hover::after{
    width: 100%;  /* jeśli ustawimy na zero element będzie niewidoczny*/
}
.header-text{
    text-align: right;
    margin-top: 20%;
    font-size: 20px;
}
.header-text h1 span{
    color: gold;
}
/* -------------------------------- o Mnie -----------------------------*/
#Omnie{
    padding:80px 0;
    color: #ababaa;
}
.wiersz{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Omnie-kol-1{
    flex-basis:  30%;
}
.Omnie-kol-1 img{
    width: 100%;
    border-radius: 15px;
}
.Omnie-kol-2{
    flex-basis: 60%;
}
.opis{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.Omnie-linki{
    display: flex;
    margin: 20px 0 40px;
}
.Omnie-linki p{
    font-size: 20px;
    font-weight: 600;
}

.linki{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
.linki::after{
    content:'';
    width: 0;
    height: 3px;
    background: gold;
    position: absolute;
    left: 0; 
    bottom: -8px;
    transition: 0.5s;
}
.linki.aktywnyLink::after{
    width:50%;
}
.Omnie-zawartosc ul li{
    list-style:none;
    margin: 10px;
}
.Omnie-zawartosc ul li span{
    color:gold;
    font-size: 14px;
}
.Omnie-zawartosc{
    display: none;
}
.Omnie-zawartosc.aktywnaZawartosc{
    display: block;
}

/* ------------------------oferta------------------------------- */

#oferta{
    padding: 20px 0;
}
.oferta-lista{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
   grid-gap: 40px;
   margin-top: 50px;
}
.oferta-lista div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.oferta-lista div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.oferta-lista div h2{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 15px;
}
.oferta-lista div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display:inline-block ;
    margin-bottom: 15px;
}
.oferta-lista div:hover{
    background:#ff004f;
    transform: translateY(-8px)
}
#projekty{
    padding: 20px 0;
}
.lista_projektów{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 40px;
    margin-top: 50px;
}
.projekt{
    border-radius: 10px;
    position:relative;
    overflow:hidden;    
}
.projekt img{
    width: 100%;
    border-radius: 10px;
    display: block;
}